<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>HomePage</title>
</head>
<style>
    .table-container {
        padding: 15px 20px;
    }
    .title {
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 10px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        padding: 8px;
        text-align: left;
        border:1px solid #ddd
    }
    .tr-hover:hover {
        background-color: #ccc;
    }
    body a {
        text-decoration: none;
    }
</style>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create user</a>
   
    </div>
    <div class="table-container">
        
        <div class="title">List Users:</div>
        <table>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
        <!-- <%= JSON.stringify(listUsers) %> -->
        <!-- <% for(var i = 0; i < listUsers.length; i++) { %>
            <tr class="tr-hover">
                <td><%=listUsers[i].id%></td>
                <td><%=listUsers[i].email%></td>
                <td><%=listUsers[i].name%></td>
                <td><%=listUsers[i].city%></td>
                <td>
                    <button style="background-color: greenyellow;">Edit</button>
                    <button style="background-color: red;">Delete</button>
                </td>
            </tr>
        <% } %> -->
        <!-- forEach -->
         <% listUsers.forEach(function(User) {%>
            <tr class="tr-hover">
                <td><%= User.id %></td>
                <td><%= User.email%></td>
                <td><%= User.name%></td>
                <td><%= User.city%></td>
                <td>
                    <button style="background-color: greenyellow;"><a href="/update">Edit</a></button>
                    <button style="background-color: red;">Delete</button>
                </td>
            </tr>
            
         <% }); %>
        </table>
    </div>
  
</body>
</html>